<style>
    body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #0070c9;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: #f2f2f2;
  font-family: calibri;
  padding: 0 22px;
  padding-bottom: 21px;
  overflow: hidden;
}

.footer-content {
  max-width: 980px;
  margin: 0 auto;
}

.footer-menu {
  padding-top: 21px;
  overflow: hidden;
}

.footer-col {
  width: 20%;
  float: left;
}



h3 {
    color: #333;
    font-size: 14px;
    position: relative;
    z-index: 1;
    background: #f2f2f2;
    margin-bottom: 6px;
    margin-top: 0;
}

.product-list {
    padding: 0;
    list-style: none;
    margin: 0;
}

.product-list li {
  margin-bottom: 5px;
  line-height: 1;
}

.product-list a {
  color: #555;
  display: inline-block;
  font-size: 12px;
}

.product-list a:hover {
  color: #333;
}

input[type="checkbox"]:checked+.col-section .product-list {
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    visibility: visible;
    position: static;
    transform: none;
}

input[type="checkbox"]:checked+.col-section h3::after {
    transform: rotate(45deg) scale(1.08);
}

.footer-base {
  padding-top: 34px;
  padding-bottom: 21px;
  color: #888;
  font-size: 12px; 
}

.footer-more-ways {
  margin-bottom: 7px;
    padding-bottom: 6px;
    border-bottom: 1px solid #d6d6d6;
}

.nowrap {
    white-space: nowrap;
}

@media only screen and (max-width: 767px) {
  
  footer {
    padding: 0 16px;
    padding-bottom: 21px;
  }
  
  .footer-col {
    width: 100%;
  }
  
  .item {
    border-bottom: 1px solid #d6d6d6;
  }
  
  h3 {
    padding: 10px 0;
    margin: 0;
    cursor: pointer;
  }
  
  h3::after {
    content: '+';
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin-top: -2px;
    margin-right: 8px;
    transition: transform .3s ease
  }
  
  .product-list {
    visibility: hidden;
    position: absolute;
    transform: translateY(-100px);
    z-index: 1;
    padding: 5px 0 16px 0;
  }
  
  .product-list li {
    margin: 0;
  }
  
  .product-list a {
    display: block;
    padding: 6px 14px;
  }
  
  .footer-col {
    overflow: hidden;
  }
}

@media only screen and (min-width: 767px) {
  .item-padding-top {
    padding-top: 24px;
  }
}

.footer-legal-copyright {
    margin-right: 30px;
    float: left;
    margin-top: 3px;
}

.footer-legal-links {
  float: left;
}

.footer-legal-links a {
  border-right: 1px solid #d6d6d6;
  margin-right: 10px;
  padding-right: 12px;
  display: inline-block;
  margin-top: 3px;
  white-space: nowrap;
  color: #555;
}

.footer-legal-links a:last-child {
  border-right: none;
}

.footer-legal-links a:hover {
  color: #333;
}
</style>
<footer>
    <div class="footer-content">
    <nav class="footer-menu">
      <div class="footer-col">
        <div class="item">
          <!-- <input > -->
          <div  id="products" class="col-section">
            <label for="products">
            <h3>Shop and learn</h3>  
          </label>
            <ul class="product-list">
              <li><a href="#">Mac</a></li>
              <li><a href="#">iPad</a></li>
              <li><a href="#">iPhone</a></li>
              <li><a href="#">Watch</a></li>
              <li><a href="#">TV</a></li>
              <li><a href="#">Music</a></li>
              <li><a href="#">iTunes</a></li>
              <li><a href="#">HomePod</a></li>
              <li><a href="#">iPod touch</a></li>
              <li><a href="#">Accessories</a></li>
              <li><a href="#">Gift Cards</a></li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="footer-col">
        <div class="item">
          <!-- <input type="checkbox" > -->
          <div id="store" class="col-section">
            <label for="store">
            <h3>Apple Store</h3>  
          </label>
            <ul class="product-list">
              <li><a href="#">Find a Store</a></li>
              <li><a href="#">Genius Bar</a></li>
              <li><a href="#">Today at Apple</a></li>
              <li><a href="#">Apple Camp</a></li>
              <li><a href="#">Field Trip</a></li>
              <li><a href="#">Apple Store App</a></li>
              <li><a href="#">Refurbished and Clearance</a></li>
              <li><a href="#">Financing</a></li>
              <li><a href="#">Reuse and Recycling</a></li>
              <li><a href="#">Order Status</a></li>
              <li><a href="#">Shopping Help</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-col">
        <div class="item">
          <!-- <input type="checkbox" > -->
          <div id="education" class="col-section">
            <label for="education">
            <h3>For Education</h3>  
          </label>
            <ul class="product-list">
              <li><a href="#">Apple and Education</a></li>
              <li><a href="#">Shop for College</a></li>
            </ul>
          </div>
        </div>
        <div class="item item-padding-top">
          <!-- <input type="checkbox" > -->
          <div id="business" class="col-section">
            <label for="business">
            <h3>For Business</h3>  
          </label>
            <ul class="product-list">
              <li><a href="#">Apple and Business</a></li>
              <li><a href="#">Shop for Business</a></li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="footer-col">
        <div class="item">
          <!-- <input type="checkbox"> -->
          <div  id="acccount" class="col-section">
            <label for="acccount">
            <h3>Account</h3>  
          </label>
            <ul class="product-list">
              <li><a href="#">Manage Your Apple ID</a></li>
              <li><a href="#">Apple Store Account</a></li>
              <li><a href="#">iCloud.com</a></li>
            </ul>
          </div>
        </div>
        <div class="item item-padding-top">
          <!-- <input type="checkbox" > -->
          <div id="values" class="col-section">
            <label for="values">
            <h3>Apple Values</h3>  
          </label>
            <ul class="product-list">
              <li><a href="#">Accessibility</a></li>
              <li><a href="#">Education</a></li>
              <li><a href="#">Environment</a></li>
              <li><a href="#">Inclusion and Diversity</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Supplier Responsibility</a></li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="footer-col">
        <div class="item">
          <div class="col-section" id="about">
            <label for="about">
            <h3>About Apple</h3>  
          </label>
            <ul class="product-list">
              <li><a href="#">Newsroom</a></li>
              <li><a href="#">Apple Leadership</a></li>
              <li><a href="#">Job Opportunities</a></li>
              <li><a href="#">Investors</a></li>
              <li><a href="#">Events</a></li>
              <li><a href="#">Contact Apple</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <section class="footer-base">
      <div class="footer-more-ways" x-ms-format-detection="none">
          More ways to shop: Visit an <a href="/retail/">Apple Store</a>, <span class="nowrap">call 1-800-MY-APPLE, or <a href="#">find a reseller</a></span>.
      </div>
      <div class="footer-legal">
            <div class="footer-legal-copyright">Copyright © 2024 Apple Inc. All rights reserved.</div>
            <div class="footer-legal-links">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Use</a>
                <a href="#">Sales and Refunds</a>
                <a href="#">Legal</a>
                <a href="#">Site Map</a>
            </div>
        </div>
    </section>
      </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
</body>
</html>